/*			 */
/* 	Leaflet  */
/*			 */
#mapid { 
	height: 80%; 
	width: 100%;
	margin: auto;
	}

.info {
	padding: 14px 16px;
	font: 16px/18px;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	width: auto;
	display: flex;
	flex-direction: column;
	line-height: 18px;
	color: #555;
}
.legend ul, .legend li {
    padding: 0;
    margin: 0;
    left: 0;
    width: 100%;
    list-style: none;    
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}


/*					*/
/* Style the header */
/*					*/

header {
  background-color: #317A95;
  padding: 0 0 0 0;
  font-size: 20px;
  color: #FFFFFF;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img, header nav, header h1, header h2  {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

header img {
    height: auto;
    width: 50px;
    padding: 0 10px;
}

header nav {
    width: auto;
    margin-left: 0;
    font-size: 1em;
}

header nav ul {
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
}
		
header nav li a {
    display: block;
    padding: .4em .8em;
	font-size: 1em;
	text-decoration: none;
	color: blue;
    background: #FFF;
	line-height: 1;
	border-radius: 25px;
}

header nav li a:hover:not(.active) {
  background-color: #ccc;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.active img{
  filter: brightness(0) invert(1);
}

/*				  */
/* Style the body */
/*				  */

body {
  font-family: 'Montserrat', sans-serif;
}


/*					   */
/* App multilevel menu */
/*					   */

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

#app-menu nav {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-left: 0;
    font-size: 1em;
}

#app-menu img  {
    height: auto;
    width: 60px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
}

#app-menu ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

#app-menu li {
    display: block;
    position: relative;
}
		
#app-menu li a {
    display: block;
    padding: 10px 20px;
	font-size: 1em;
	text-decoration: none;
	color: white;
    background: #317A95;
	line-height: 1;
}

#app-menu li a:hover {
  background-color: #ccc;
}

#app-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: flex;
}

#app-menu .second-level
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
}

#app-menu .second-level > li
{
    height: auto;
    background: #999999;
}

/* 						 */
/*	Style the About Page */
/* 						 */

.about-section {
  margin: 30px 0 0 0;
  padding: 20px 50px 50px 50px;
  text-align: center;
  width: 100%;
  background-color: #0072bb;
  color: white;
}

.row-center {
  display: flex;
  width: 80%;  
  justify-content: center;  
  margin: 0 10% 0 10%;
  align-items: top;  
}

.column-small {
  width: 33%;
  padding: 15px 15px 15px 0;
}
.column-large {
  width: 67%;
  padding: 5px;
  text-align: top;
}

/*					*/
/* Style the footer */
/*					*/
.footer {
  display: block;
  justify-content: center;  
  align-items: center;  
  background-color: #ccc;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
