/* Leaflet */
#mapid { 
	height: 800px; 
	width: 100%;
	margin: auto;
	}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 10px;
}

/* Left column */
.column.left {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Right column */
.column.right {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
	-webkit-flex-direction: column;
	flex-direction: column;
  }
}


.menu-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}


/* Menu Styles */

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -120px;
    width: 120px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #999999;
}

.second-level-menu
{
    position: absolute;
    left: 0;
    width: 120px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 38px;
    color: #f1f1f1;
}

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    width: 120px;
}

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: 16px Arial, Helvetica, sans-serif;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
	padding: 16px;
	border: none;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #000000; }
